<% post_comments.each do |comment| %>
  <p><%= comment.body %></p>
  <%= button_to "delete", user_comment_path(comment_id: comment.id, user_id: user_id, feed_id: feed_id), class: "", method: "delete", remote: true %>
<% end %>